//text

.text-white {
    color: #fff!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}

//btn

.primary-btn {
    background: #fff;
    border: 1px solid transparent;
    color: #222;
    padding: 0 40px;
    border-radius: 50px;
}