.about{
    &-area{
        padding-top: 4rem;
        padding-bottom: 10rem;
    }
    // &-left{
    //     // background: url("..//imgs/xvideo-bg.jpg.pagespeed.ic.9DP5dAVXlo.jpg") no-repeat center;
    //     // height: 35rem;
    //     // border-radius: 10px;
    //     // background-size: cover;
    // }

    &-right{
        padding-left: 10%;
        & h6{
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $primary-color;
            font-size: 12px;
        }

        & h1{
            padding-bottom: 2rem;
        }

        & p span{
            color: #000;
            font-weight: 400;
        }
    }
}