.coffee{
    &-area{
        background: url("../imgs/xmenu-bg.jpg.pagespeed.ic.xYr9qBvnG1.jpg") center;
        background-size: cover;
    }
    &-menu{
        background-color: #fff;
        box-shadow: 0 10px 30px 0 #b6883433;
        border-radius: 10px;
        padding: 30px 30px;
        margin-bottom: 30px;
        &Title{
            padding-bottom: 2rem;
        }
        &Price{
            color: $primary-color;
            font-size: 18px;
            font-weight: 600;
        }
    }
}